<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
#Ejemplo
course = 'Algoritmos'
group = '2'
print(course+ ', Grupo '+group) #Imprime la concatenacion de dos variables de texto

Algoritmos, Grupo 2

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
#Ejemplo
age=21
print(age) #Imprime la variable numerica
print(type(age)) #Imprime el tipo de variable

21
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
#Ejemplo
year="2022"
print(type(year)) #Imprime el tipo de variable
year = int(year) #Transforma la variable de string a int
print(type(year)) #Imprime el tipo de variable

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
#Ejemplo
grade = "4.5"
float_grade = float(grade) #Transforma la variable string en float
print(type(float_grade)) #Imprime el tipo de variable

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
#Ejemplo
adult=False
print(adult) #Imprime el valor booleano de la variable
print(type(adult)) #Imprime el tipo de variable

False
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [ ]:
#Ejemplo
print("Addition ", 8+9)
print("Subtraction ", 15-4)
print("Multiplication ", 4*6)
print("Division ", 12/3)
print('exponent', 3**4)
#Imprime el resultado de varias operaciones matematicas indicando cuales son

Addition  17
Subtraction  11
Multiplication  24
Division  4.0
exponent 81

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect']#, 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
#Ejemplo
random_list=[23,'apple', True, 4.3] #Define lista
print(random_list) #Imprime lista

[23, 'apple', True, 4.3]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [ ]:
#Ejemplo
random_list=[23,'apple', True, 4.3] #Define lista
print(len(random_list)) #Imprime el tamaño de lista
print(random_list[0]) #Imprime el primer elemento de la lista
print(random_list[len(random_list) -1]) #Imprime el ultimo elemento de la lista

4
23
4.3

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
#Ejemplo
random_list=[23,'apple', True, 4.3] #Define lista
random_list[1] = 'banana' #Cambia el valor del segundo elemento de la lista
print(random_list) #Imprime la lista modificada

[23, 'banana', True, 4.3]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
#Ejemplo
random_list=[23,'apple', True, 4.3] #Define lista
print(random_list[1:3]) #Imprime una sección de la lista

['apple', True]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [ ]:
#Ejemplo
print(random_list[1:]) #Imprime la lista desde el elemento 2

['apple', True, 4.3]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
#Ejemplo
print(random_list[:3]) #Imprime la lista hasta el elemento 3

[23, 'apple', True]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
#Ejemplo
new_list = [64, 'Algorithms', 'lorem', 'ipsum'] #Define lista
new_list.append('Hello') #Agrega un elemento al final de la lista
print(new_list) #Imprime la lista

[64, 'Algorithms', 'lorem', 'ipsum', 'Hello']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [ ]:
new_list.remove('Hello') #Elimina un elemento de la lista
print(new_list) #Imprime la lista

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

In [ ]:
#Ejemplo
random_tuple=(23,'apple', True, 4.3) #Define la tupla

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
#Ejemplo
random_tuple=(23,'apple', True, 4.3) #Define la tupla
print(random_tuple[1:]) #Imprime la tupla

('apple', True, 4.3)

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'AAPL', 'GOOG', 'F'}

In [ ]:
#Ejemplo
random_list = [23,'apple', True, 4.3, False, True, 23, 49, 'banana', 'apple', True] #Define lista
random_set = set(random_list) #Crea un set a partir de la lista
print(random_set) #Imprime el set

{False, True, 'banana', 4.3, 'apple', 49, 23}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
#Ejemplo
random_dic= {'name':'Jerry', 'lastname': 'Gonzalez', 'age': 23} #Define un diccionario

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [ ]:
#Ejemplo
print(random_dic['name']) #Imprime el valor de 'name' del diccionario creado

Jerry

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [ ]:
#Ejemplo
random_dic['age']=24 #Cambia el valor de 'age' en el diccionario
print(random_dic['age']) #Imprime el valor de 'age' del diccionario

24

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [ ]:
print(random_dic.keys()) #Imprime las llaves del diccionario creado

dict_keys(['name', 'lastname', 'age'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
#Ejemplo
random_str='You are admitted to the UN' #Define un string
print(random_str[6:]) #Imprime desde la sexta posicion del string

e admitted to the UN

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [ ]:
#Ejemplo
print('This is an ultra random sentence for a code example'.count('a')) #Cuenta las a en la oracion
print('The first time is there, u know'.find('u')) #Imprime el index the la primera vez que aparece la letra u
print('you are not in carge'.replace('a','i')) #Cambia las letras a por letras i

5
25
you ire not in cirge

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
#Ejemplo
Time = '2022-03-13 11:23:40' #Define un tiempo como string 
splited_list = Time.split(' ') #Separa el tiempo por espacios
date = splited_list[0] #Define la primera parte como fecha
time = splited_list[1] #Define la segunda parte como hora
print(date, time) #Imprime la fecha y la hora
hour = time.split(':')[0] #Separa la hora
print(hour) #Imprime la hora

2022-03-13 11:23:40
11

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [ ]:
#Ejemplo
random_time = 'Hour: {}, Minute:{}'.format('16','24') #Define un string con formato
print(random_time) #Imprime el string con el formato

Hour: 16, Minute:24

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [ ]:
print('Your note is %f'%4.6) #Imprime con formato de flotante
print('stop %s and %s'%('crying','screaming')) #Imprime con formato de string

Your note is 4.600000
stop crying and screaming

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [ ]:
#Ejemplo
print(5 == 3)
print(7 == 7)
print(2 != -4)
print(6 >= 8)
print(9 >= 6)
#Imprime el valor de diferentes evaluadores logicos con numeros

False
True
True
False
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [ ]:
#Ejemplo
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 or 3 < 2)
#Imprime el valor logico, evaluando con ands y ors

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [ ]:
#Ejemplo 
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
#Imprime el valor logico de una declaracion mucho mas compleja

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [ ]:
#Ejemplo
age=20
if age>=18: #Condicion de mayoria de edad
  print('You are an adult') #Imprime si se cumple la condicion

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [ ]:
#Ejemplo
i=6
if i>=0 and type(i)==int:
  print("Integer positive") 
elif i<0 and type(i)==int:
  print("Integer negative")
elif i<0 and type(i)!=int:
  print("Non Integer negative")
else:
  print("Non Integer positive")
#Imprime segun cumpla las condiciones en cada if

Integer positive

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
#Ejemplo
i=0
while i<10: #Entra a un loop con 10 iteraciones
  print(i+1) #Imprime los numeros de 1 al diez
  i+=1 #Suma 1 con el fin de dar fin al loop en algun momento

1
2
3
4
5
6
7
8
9
10

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
#Ejemplo
for i in [23,'apple', True, 4.3]: #Itera cada elemento de la lista con el valor de i
  print(i) #Imprime cada elemento de la lista

23
apple
True
4.3

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
#Ejemplo
random_list=[23,'apple', True, 4.3] #Define una lista
for i in random_list: #Iteracionde cada elemento de la lista
  if type(i)==str: #Condicional para obtener string en la lista
    random_list.remove(i) #Elimina los strings que haya en la lista
print(random_list) #Imprime la lista

[23, True, 4.3]

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [ ]:
#Ejemplo
random_list=[23,'apple', True, 4.3]
for i in random_list: #Itera en cada elemento de la lista
    print(i) #Imprime el elemento de la lista
    if i == True: #Condicion para saber si hay un true en la lista
        break #Se rompe el loop y el programa sale de el

23
apple
True

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [ ]:
#Ejemplo
random_list=[23,'apple', True, 4.3]
for i in random_list: #Itera en cada elemento de la lista
    if i == True: #Condicion para saber si hay un true en la lista
        continue #Se salta esta iteracion el programa y continua al siguiente 
    print(i) #Imprime el elemento de la lista

23
apple
4.3

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
cubes = []
for i in [4,12,9,3,2]:
    cubes.append(i**3)
print(cubes)
#Se llena la lista 'cubes' con las potencias cubicas de los elementos de la lista

[64, 1728, 729, 27, 8]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
#Ejemplo
list = [4,12,9,3,2]
cubes = [x**3 for x in list]
print(cubes)
#Se llena la lista 'cubes' con las potencias cubicas de los elementos de la lista

[64, 1728, 729, 27, 8]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [ ]:
random_list=[23,'apple', True, 4.3, 64]
new_list = [64, 'Algorithms', 'lorem', 'ipsum', True]
ultra_new_list = [x for x in random_list if x in new_list]
print(ultra_new_list)
#Se llena la ultima lista con lo elementos que las otras dos listas tienen en comun

[True, 64]

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
#Se crean todas las posibles parejas entre las lista [1,2,3] y [3,1,4]
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
#Se crean todas las posibles parejas entre las listas ['AAPL','GOOG','IBM','FB'] y ['F','V','G','GE']
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y): #Definicion de una funcion
    return x*y #Retorno de la funcion
print(product(2,3)) #Imprime la multiplicacion entre dos numeros
print(product(5,10)) #Imprime la multiplicacion entre dos numeros

6
50

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi(): #Definicion de una funcion
    print('Welcome to QuantConnect') #Imprime un string
say_hi() #Llama a la funcion

Welcome to QuantConnect

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10)) 
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [ ]:
#Ejemplo
print(range(2,7)) #Imprime el rango entre dos numeros con paso de 1

range(2, 7)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [ ]:
#Ejemplo
random_list=[23,'apple', True, 4.3, 64]
print("El tamaño de la lista random es de {}".format(len(random_list))) #Imprime el tamaño de la lista

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
#Ejemplo
random_list=['banana','apple', 'True', '4.3', '64'] #Define una lista
print(list(map(len,random_list))) #Con map aplica unia funcion especifica a la lista, en este caso el tamaño de cada elemento de la lista

[6, 5, 4, 3, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Ejemplo
list(map(lambda x: x**3, range(10))) #Imprime el cubo de todos los numeros en un rango de 0 a 9, esto usando el operador lambda

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [ ]:
#Ejemplo
list(map(lambda x, y: x**y, [1,2,3,4,5],[5,4,3,2,1])) #Se usan dos listas para operar con map, de manera que cada elemento de la primera 
                                                      #lista se eleva a la potencia del elemento de la segunda lista

[1, 16, 27, 16, 5]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [ ]:
#Ejemplo
sorted([6,8,1,3,9,4,2,6,8,7,4,2,5,6]) #Ordena una lista

[1, 2, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 8, 9]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [ ]:
class magicObject:
    def __init__(self, name, value, color, size):
        self.name = name
        self.value = value
        self.color = color
        self.size = size
    #Metodo constructor de la clase magicObject para inicializarlo
 
    def update(self, value, size):
        self.value = value
        self.size = size
    #Metodo para actualizar los atributos de valor y tamaño del objeto

    def print_relation(self):
        print(self.value/self.size)
    #Metodo para imprimir la relacion entre valor y tamaño

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [ ]:
#Ejemplo
thing1 = magicObject("random_name", 10, "random_color", 20)
thing2 = magicObject("magic_name", 15, "magic_color", 25)
#Inicializa dos variables de tipo magicObject

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [ ]:
#Ejemplo
thing1.name 
thing2.print_relation()
thing2.update(15,50)
thing2.print_relation()
#Ejecuta los diferentes metodos ya estructurados

0.6
0.3

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [ ]:
thing1.level = 45
thing1.level
#Añade un atributo al objeto

45

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(thing1) #Imprime los atributos y metodos del objeto

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'color',
 'level',
 'name',
 'print_relation',
 'size',
 'update',
 'value']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
#Ejemplo
class magicChild(magicObject):
    def __init__(self,lastname):
        self.lastname = lastname
#Creacion de clase que hereda de magicObject

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [ ]:
#Ejemplo
thing3 = magicChild('lastname')
print(thing3.lastname)
thing3.update(6,14)
print(thing3.value)
print(thing3.size)
print(thing3.print_relation())
#Se inicializa una variable de tipo magicChild, la herencia de magicObject

lastname
6
14
0.42857142857142855
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np #Se importa numpy

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [ ]:
#Ejemplo
note_list = [4.5, 3.6, 3.8, 2.7, 1.4, 4.2] #Se crea una lista
note_array = np.array(note_list) #Se transforma la lista en un array con numpy
print(note_array) #Se imprime el array
print(type(note_array)) #Se consulta el tipo de variable

[4.5 3.6 3.8 2.7 1.4 4.2]
<class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]]) 
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [ ]:
#Ejemplo
mtz = np.array([[1,2],[3,4],[5,6]]) #Se crea un array de arrays, una matriz 
print(mtz, type(mtz)) #Se imprime la matriz y el tipo de esta, un array de numpy

[[1 2]
 [3 4]
 [5 6]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)

(2, 2)

In [ ]:
#Ejemplo
print(mtz.shape) #Imprime las dimensiones del array de numpy, en este caso 3x2

(3, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [ ]:
#Ejemplo
print(mtz[0])
print(mtz[1])
print(mtz[2])
#Se imprime cada fila de la matriz una por una, por el Index que tienen

[1 2]
[3 4]
[5 6]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [ ]:
#Ejemplo
print('Primera columna: ', mtz[:,0])
print('Segunda columna: ', mtz[:,1])
#Accede a las columnas de la matriz, una por una

Primera columna:  [1 3 5]
Segunda columna:  [2 4 6]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [ ]:
#Ejemplo
print(np.log(note_array)*2)
#En el ejemplo se calcula el doble el logaritmo natural del array de notas que ya se había creado

[3.00815479 2.56186769 2.67000213 1.98650355 0.67294447 2.87016905]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))
#Se realizan funciones que hacen operaciones con el array creado, obteniendo el máximo, la suma, entre otros

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
import pandas as pd #Importa la librería para el manejo de

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [ ]:

#Ejemplo
notes =[3.4, 2.8, 4.9, 4.2, 3.8]
serie=pd.Series(notes)
serie
#Crea una lista de notas, la convierte en una serie y las imprime

0    3.4
1    2.8
2    4.9
3    4.2
4    3.8
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [ ]:
#Ejemplo
serie = pd.Series(notes,index = ['Juan','Camilo','Andres','Esteban','Felipe'])
serie
#Se cambia el Index de la serie para que sea más claro en el análisis de datos

Juan       3.4
Camilo     2.8
Andres     4.9
Esteban    4.2
Felipe     3.8
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:

#Ejemplo
serie.index = [5,4,3,2,1]
serie
#Se cambia el Index de una serie que ya está creada

5    3.4
4    2.8
3    4.9
2    4.2
1    3.8
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [ ]:
#Ejemplo
print(serie[1:3])
print(serie[:-1])
#Imprime las series como una lista, con el Index de este

4    2.8
3    4.9
dtype: float64
5    3.4
4    2.8
3    4.9
2    4.2
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s) #Imprime la serie como un diccionario, al igual se pueden editar los valores de este

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [ ]:
#Ejemplo
serie = pd.Series(notes, name = 'Notas estudiantes')
print(serie)
print(serie.name)
#Se nombra la serie para una mejor identificación de la misma

NameError: ignored

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [ ]:
#Ejemplo
print(serie.describe())
#Imprime algunas estadísticas que se pueden sacar con la serie de datos

count    5.000000
mean     3.820000
std      0.794984
min      2.800000
25%      3.400000
50%      3.800000
75%      4.200000
max      4.900000
Name: Notas estudiantes, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [ ]:
#Ejemplo
time_notas = pd.date_range('2022-03-10',periods = len(serie),freq = 'D') #Genera fechas teniendo ciertos parametros
print(time_notas) #Imprime un array con las fechas generadas
serie.index = time_notas #Cambia el Index de la serie con las fechas generadas
print(serie)
#Imprime la serie con el Index modificado

DatetimeIndex(['2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
               '2022-03-14'],
              dtype='datetime64[ns]', freq='D')
2022-03-10    3.4
2022-03-11    2.8
2022-03-12    4.9
2022-03-13    4.2
2022-03-14    3.8
Freq: D, Name: Notas estudiantes, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1])

145.83

In [ ]:
#Ejemplo
print(serie.iloc[1]) #Realiza la función iloc, para esto necesita Index numéricos

2.8

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [ ]:
#Ejemplo
serie.index = time_notas
print(serie['2022-03-10'])
#Imprime el valor de la serie, buscando por el Index de tiempo

3.4

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [ ]:
#Ejemplo
print(serie['2020-03-10':'2022-03-13'])
#Imprime los valores de la serie en que tengan el Index en un rango de tiempo

2022-03-10    3.4
2022-03-11    2.8
2022-03-12    4.9
2022-03-13    4.2
Freq: D, Name: Notas estudiantes, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])
#Se agregan condiciones, con el fin de imprimir de manera más concisa lo que se necesita

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [ ]:
!pip install yfinance #Se instala yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.1 MB/s
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 24.7 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [ ]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 100000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.33890998, 'profitMargins': 0.26579002, 'grossMargins': 0.43019, 'operatingCashflow': 112241000448, 'revenueGrowth': 0.112, 'operatingMargins': 0.309, 'ebitda': 128217997312, 'targetLowPrice': 160, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 80153247744, 'targetMedianPrice': 199.5, 'currentPrice': 155.09, 'earningsGrowth': 0.25, 'currentRatio': 1.038, 'returnOnAssets': 0.19875, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 193.53, 'debtToEquity': 170.714, 'returnOnEquity': 1.45567, 'targetHighPrice': 215, 'totalCash': 63913000960, 'totalDebt': 122797998080, 'totalRevenue': 378323009536, 'totalCashPerShare': 3.916, 'financialCurrency': 'USD', 'revenuePerShare': 22.838, 'quickRatio': 0.875, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.653, 'beta3Year': None, 'enterpriseToEbitda': 19.63, '52WeekChange': 0.19949031, 'morningStarRiskRating': None, 'forwardEps': 6.56, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16319399936, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 4.402, 'sharesShort': 110322490, 'sharesPercentSharesOut': 0.0068, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59430003, 'netIncomeToCommon': 100554997760, 'trailingEps': 6.015, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.053094983, 'priceToBook': 35.231712, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1640390400, 'shortRatio': 1.2, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 16302795170, 'beta': 1.185531, 'enterpriseValue': 2516919255040, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1643932800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.204, 'priceToSalesTrailing12Months': 6.8725734, 'dateShortInterest': 1646006400, 'pegRatio': 1.69, 'ytdReturn': None, 'forwardPE': 23.641768, 'lastCapGain': None, 'shortPercentOfFloat': 0.0068, 'sharesShortPriorMonth': 91388112, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 150.62, 'regularMarketOpen': 150.9, 'twoHundredDayAverage': 153.7353, 'trailingAnnualDividendYield': 0.0057429294, 'payoutRatio': 0.1434, 'volume24Hr': None, 'regularMarketDayHigh': 155.57, 'navPrice': None, 'averageDailyVolume10Day': 95333020, 'regularMarketPreviousClose': 150.62, 'fiftyDayAverage': 168.0858, 'trailingAnnualDividendRate': 0.865, 'open': 150.9, 'toCurrency': None, 'averageVolume10days': 95333020, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1643932800, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 150.385, 'currency': 'USD', 'trailingPE': 25.783875, 'regularMarketVolume': 89231766, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2600052719616, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 95562583, 'dayLow': 150.385, 'ask': 154.74, 'askSize': 1300, 'volume': 89231766, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.13, 'fiftyTwoWeekLow': 118.86, 'bid': 154.72, 'tradeable': False, 'dividendYield': 0.0057, 'bidSize': 1200, 'dayHigh': 155.57, 'regularMarketPrice': 155.09, 'preMarketPrice': 150.9, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.2017}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.590632,24.225173,23.450389,24.220573,270597600,0.0,0
2016-01-05,24.312540,24.335531,23.544656,23.613626,223164000,0.0,0
2016-01-06,23.119333,23.535464,22.960699,23.151520,273829600,0.0,0
2016-01-07,22.687106,23.020469,22.169818,22.174416,324377600,0.0,0
2016-01-08,22.657223,22.785970,22.245691,22.291672,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.713653,41.890367,41.670671,41.792458,65397600,0.0,0
2017-12-26,40.787112,40.947108,40.519653,40.732189,132742000,0.0,0
2017-12-27,40.619949,40.782332,40.526817,40.739349,85992800,0.0,0
2017-12-28,40.834869,41.037851,40.710692,40.853973,65920800,0.0,0
2017-12-29,40.720252,40.736966,40.409810,40.412197,103999600,0.0,0

In [ ]:
#Ejemplo
import yfinance as yf #Importa yfinance

amd = yf.Ticker("AMD") #Obtiene los datos del stock de amd

print(amd.info) #Imprime la información de amd

#Obtiene el histórico de información de amd
amd_table = amd.history(start="2018-01-01",  end="2020-12-31")
amd_table #Imprime el histórico de información

{'zip': '95054', 'sector': 'Technology', 'fullTimeEmployees': 15500, 'longBusinessSummary': 'Advanced Micro Devices, Inc. operates as a semiconductor company worldwide. The company operates in two segments, Computing and Graphics; and Enterprise, Embedded and Semi-Custom. Its products include x86 microprocessors as an accelerated processing unit, chipsets, discrete and integrated graphics processing units (GPUs), data center and professional GPUs, and development services; and server and embedded processors, and semi-custom System-on-Chip (SoC) products, development services, and technology for game consoles. The company provides processors for desktop and notebook personal computers under the AMD Ryzen, AMD Ryzen PRO, Ryzen Threadripper, Ryzen Threadripper PRO, AMD Athlon, AMD Athlon PRO, AMD FX, AMD A-Series, and AMD PRO A-Series processors brands; discrete GPUs for desktop and notebook PCs under the AMD Radeon graphics, AMD Embedded Radeon graphics brands; and professional graphics products under the AMD Radeon Pro and AMD FirePro graphics brands. It also offers Radeon Instinct, Radeon PRO V-series, and AMD Instinct accelerators for servers; chipsets under the AMD trademark; microprocessors for servers under the AMD EPYC; embedded processor solutions under the AMD Athlon, AMD Geode, AMD Ryzen, AMD EPYC, AMD R-Series, and G-Series processors brands; and customer-specific solutions based on AMD CPU, GPU, and multi-media technologies, as well as semi-custom SoC products. It serves original equipment manufacturers, public cloud service providers, original design manufacturers, system integrators, independent distributors, online retailers, and add-in-board manufacturers through its direct sales force, independent distributors, and sales representatives. The company was incorporated in 1969 and is headquartered in Santa Clara, California.', 'city': 'Santa Clara', 'phone': '408 749 4000', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.amd.com', 'maxAge': 1, 'address1': '2485 Augustine Drive', 'industry': 'Semiconductors', 'ebitdaMargins': 0.24674, 'profitMargins': 0.19240999, 'grossMargins': 0.48248002, 'operatingCashflow': 3520999936, 'revenueGrowth': 0.488, 'operatingMargins': 0.22198, 'ebitda': 4055000064, 'targetLowPrice': 101.5, 'recommendationKey': 'buy', 'grossProfits': 7929000000, 'freeCashflow': 3122749952, 'targetMedianPrice': 150, 'currentPrice': 109.33, 'earningsGrowth': -0.454, 'currentRatio': 2.024, 'returnOnAssets': 0.21327, 'numberOfAnalystOpinions': 39, 'targetMeanPrice': 151.54, 'debtToEquity': 9.764, 'returnOnEquity': 0.47428, 'targetHighPrice': 200, 'totalCash': 3608000000, 'totalDebt': 732000000, 'totalRevenue': 16433999872, 'totalCashPerShare': 3.008, 'financialCurrency': 'USD', 'revenuePerShare': 13.548, 'quickRatio': 1.49, 'recommendationMean': 2.2, 'exchange': 'NMS', 'shortName': 'Advanced Micro Devices, Inc.', 'longName': 'Advanced Micro Devices, Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AMD', 'messageBoardId': 'finmb_168864', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.287, 'beta3Year': None, 'enterpriseToEbitda': 29.532, '52WeekChange': 0.23564959, 'morningStarRiskRating': None, 'forwardEps': 4.63, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 1627360000, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 6.211, 'sharesShort': 46205560, 'sharesPercentSharesOut': 0.028399998, 'fundFamily': None, 'lastFiscalYearEnd': 1640390400, 'heldPercentInstitutions': 0.52830005, 'netIncomeToCommon': 3161999872, 'trailingEps': 2.57, 'lastDividendValue': 0.005, 'SandP52WeekChange': 0.053094983, 'priceToBook': 17.60264, 'heldPercentInsiders': 0.0032, 'nextFiscalYearEnd': 1703462400, 'yield': None, 'mostRecentQuarter': 1640390400, 'shortRatio': 0.39, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 1193894564, 'beta': 1.848425, 'enterpriseValue': 119752777728, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 966902400, 'lastSplitFactor': '2:1', 'legalType': None, 'lastDividendDate': 798940800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': -0.453, 'priceToSalesTrailing12Months': 11.042304, 'dateShortInterest': 1646006400, 'pegRatio': 0.87, 'ytdReturn': None, 'forwardPE': 23.61339, 'lastCapGain': None, 'shortPercentOfFloat': 0.028499998, 'sharesShortPriorMonth': 68305579, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 102.25, 'regularMarketOpen': 102.66, 'twoHundredDayAverage': 114.7658, 'trailingAnnualDividendYield': 0, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 109.685, 'navPrice': None, 'averageDailyVolume10Day': 107944500, 'regularMarketPreviousClose': 102.25, 'fiftyDayAverage': 120.774, 'trailingAnnualDividendRate': 0, 'open': 102.66, 'toCurrency': None, 'averageVolume10days': 107944500, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': 798940800, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 101.79, 'currency': 'USD', 'trailingPE': 42.54086, 'regularMarketVolume': 112295131, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 181469216768, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 92980365, 'dayLow': 101.79, 'ask': 109.45, 'askSize': 800, 'volume': 112295131, 'fiftyTwoWeekHigh': 164.46, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 72.5, 'bid': 109.3, 'tradeable': False, 'dividendYield': None, 'bidSize': 1000, 'dayHigh': 109.685, 'regularMarketPrice': 109.33, 'preMarketPrice': 102.58, 'logo_url': 'https://logo.clearbit.com/amd.com', 'trailingPegRatio': 1.5849}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-01-02,10.420000,11.020000,10.340000,10.980000,44146300,0,0
2018-01-03,11.610000,12.140000,11.360000,11.550000,154066700,0,0
2018-01-04,12.100000,12.430000,11.970000,12.120000,109503000,0,0
2018-01-05,12.190000,12.220000,11.660000,11.880000,63808900,0,0
2018-01-08,12.010000,12.300000,11.850000,12.280000,63346000,0,0
...,...,...,...,...,...,...,...
2020-12-23,93.080002,93.129997,91.459999,91.550003,25993300,0,0
2020-12-24,91.800003,92.510002,91.309998,91.809998,16705900,0,0
2020-12-28,92.930000,93.139999,90.820000,91.599998,30627300,0,0
2020-12-29,91.660004,92.459999,89.430000,90.620003,31748200,0,0
2020-12-30,90.779999,92.849998,90.190002,92.290001,25845000,0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [ ]:
aapl = aapl_table['Close']['2017']

In [ ]:
print(aapl)

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
                ...
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, Length: 251, dtype: float64

In [ ]:
#Ejemplo
amd = amd_table['Close']['2019']
print(amd)
#Obtiene los datos de 2019 y los imprime

Date
2019-01-02    18.830000
2019-01-03    17.049999
2019-01-04    19.000000
2019-01-07    20.570000
2019-01-08    20.750000
                ...
2019-12-24    46.540001
2019-12-26    46.630001
2019-12-27    46.180000
2019-12-30    45.520000
2019-12-31    45.860001
Name: Close, Length: 252, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [ ]:
print(aapl['2017-3'])

Date
2017-03-01    33.086281
2017-03-02    32.889839
2017-03-03    33.083920
2017-03-06    32.979778
2017-03-07    33.022373
2017-03-08    32.899296
2017-03-09    32.823563
2017-03-10    32.932434
2017-03-13    32.946640
2017-03-14    32.896942
2017-03-15    33.244865
2017-03-16    33.299305
2017-03-17    33.133617
2017-03-20    33.481544
2017-03-21    33.098122
2017-03-22    33.472084
2017-03-23    33.353741
2017-03-24    33.287464
2017-03-27    33.344276
2017-03-28    34.035393
2017-03-29    34.111141
2017-03-30    34.066158
2017-03-31    34.002254
Name: Close, dtype: float64

In [ ]:
#Ejemplo
print(amd['2019-3']) #Imprime los datos del tercer mes de 2019

Date
2019-03-01    23.680000
2019-03-04    23.370001
2019-03-05    23.500000
2019-03-06    22.410000
2019-03-07    22.080000
2019-03-08    22.010000
2019-03-11    22.959999
2019-03-12    23.490000
2019-03-13    23.379999
2019-03-14    22.820000
2019-03-15    23.290001
2019-03-18    23.250000
2019-03-19    26.000000
2019-03-20    25.700001
2019-03-21    27.889999
2019-03-22    26.370001
2019-03-25    25.969999
2019-03-26    25.690001
2019-03-27    24.889999
2019-03-28    25.059999
2019-03-29    25.520000
Name: Close, dtype: float64

In [ ]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289885
2017-02-03    30.419493
2017-02-06    30.704651
2017-02-07    30.996870
                ...
2017-04-24    33.997528
2017-04-25    34.208179
2017-04-26    34.006985
2017-04-27    34.033024
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244392
2017-12-19    41.794228
2017-12-20    41.748734
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64

In [ ]:
#Ejemplo
print(amd.head(7)) #Imprime los primeros N datos
print(amd.tail(12)) #Imprime los últimos N datos

Date
2019-01-02    18.830000
2019-01-03    17.049999
2019-01-04    19.000000
2019-01-07    20.570000
2019-01-08    20.750000
2019-01-09    20.190001
2019-01-10    19.740000
Name: Close, dtype: float64
Date
2019-12-13    41.150002
2019-12-16    42.349998
2019-12-17    42.770000
2019-12-18    42.299999
2019-12-19    42.830002
2019-12-20    44.150002
2019-12-23    45.459999
2019-12-24    46.540001
2019-12-26    46.630001
2019-12-27    46.180000
2019-12-30    45.520000
2019-12-31    45.860001
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819262
2017-05-31    36.125686
2017-06-30    35.133984
2017-07-31    35.245242
2017-08-31    37.897228
2017-09-30    37.604739
2017-10-31    37.654550
2017-11-30    41.233914
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

In [ ]:
#Ejemplo
by_month = amd.resample('M').mean() #Organiza el histórico por meses
print(by_month) #Imprime los datos organizados

Date
2019-01-31    20.334762
2019-02-28    23.604210
2019-03-31    24.253810
2019-04-30    27.873333
2019-05-31    27.415000
2019-06-30    30.443000
2019-07-31    32.894091
2019-08-31    30.844546
2019-09-30    30.238000
2019-10-31    30.686521
2019-11-30    38.072001
2019-12-31    42.320953
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097734
2017-01-22    28.266116
2017-01-29    28.553982
2017-02-05    29.662543
Freq: W-SUN, Name: Close, dtype: float64

In [ ]:
#Ejemplo
by_week = amd.resample('W').mean()
print(by_week.head())
#prime los datos históricos por semanas

Date
2019-01-06    18.293333
2019-01-13    20.304000
2019-01-20    20.272000
2019-01-27    20.585000
2019-02-03    22.288000
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max()

Date
2017-01-31    28.739218
2017-02-28    32.451969
2017-03-31    34.111141
2017-04-30    34.264977
2017-05-31    37.099133
2017-06-30    36.944649
2017-07-31    36.471699
2017-08-31    39.129719
2017-09-30    39.141655
2017-10-31    40.332241
2017-11-30    42.050140
2017-12-31    42.244392
Freq: M, Name: Close, dtype: float64

In [ ]:
#Ejemplo
amd.resample('M').max()
#Imprime los datos máximos en cada mes

Date
2019-01-31    24.410000
2019-02-28    24.709999
2019-03-31    27.889999
2019-04-30    29.090000
2019-05-31    29.049999
2019-06-30    33.230000
2019-07-31    34.389999
2019-08-31    34.189999
2019-09-30    31.500000
2019-10-31    33.930000
2019-11-30    41.290001
2019-12-31    46.630001
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month)

Date
2017-01-03    27.398286
2017-01-06    27.787132
2017-01-09    28.110774
2017-01-12    28.078175
2017-01-15    28.279665
                ...
2017-12-17    42.019310
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886700
2017-12-29    40.522736
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172571
2017-02-05    29.108263
2017-02-19    31.516817
2017-03-05    32.595556
2017-03-19    33.017881
2017-04-02    33.625218
2017-04-16    33.849726
2017-04-30    33.791843
2017-05-14    35.697633
2017-05-28    36.496181
2017-06-11    36.515007
2017-06-25    34.529047
2017-07-09    34.265135
2017-07-23    35.278873
2017-08-06    36.272775
2017-08-20    37.904119
2017-09-03    38.458793
2017-09-17    38.282708
2017-10-01    36.840876
2017-10-15    37.071593
2017-10-29    37.757321
2017-11-12    41.032237
2017-11-26    41.204375
2017-12-10    40.867067
2017-12-24    41.620866
2018-01-07    40.795709
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524054
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761187
2017-11-30    39.402611
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [ ]:
#Ejemplo
six_day = amd.resample('6D').mean() #Obtiene los datos de los seis últimos dias
three_week = amd.resample('3W').mean() #Obtiene los datos de las tres últimas semanas
five_month = amd.resample('5M').mean() #Obtiene los datos de los últimos 5 meses


print(six_day) #Imprime el histórico de 6 dias
print(three_week) #Imprime el histórico de tres semanas
print(five_month) #Imprime el histórico de 5 meses

Date
2019-01-02    18.862500
2019-01-08    20.237500
2019-01-14    20.272000
2019-01-20    20.585000
2019-01-26    21.732500
                ...
2019-12-04    39.467500
2019-12-10    40.662500
2019-12-16    42.880000
2019-12-22    46.202500
2019-12-28    45.690001
Freq: 6D, Name: Close, Length: 61, dtype: float64
Date
2019-01-06    18.293333
2019-01-27    20.372857
2019-02-17    22.886666
2019-03-10    23.511429
2019-03-31    24.818667
2019-04-21    27.847857
2019-05-12    27.675333
2019-06-02    27.390714
2019-06-23    30.647333
2019-07-14    31.395000
2019-08-04    32.839333
2019-08-25    31.008000
2019-09-15    30.675714
2019-10-06    29.614667
2019-10-27    30.483333
2019-11-17    35.804000
2019-12-08    39.623572
2019-12-29    42.913572
2020-01-19    45.690001
Freq: 3W-SUN, Name: Close, dtype: float64
Date
2019-01-31    20.334762
2019-06-30    26.748932
2019-11-30    32.469533
2020-04-30    42.320953
Freq: 5M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072530
2017-01-22    0.025554
2017-01-29    0.245288
2017-02-05    0.943260
2017-02-12    0.252001
2017-02-19    0.231394
2017-02-26    0.059345
2017-03-05    0.340094
2017-03-12    0.076284
2017-03-19    0.177834
2017-03-26    0.157262
2017-04-02    0.319806
2017-04-09    0.128689
2017-04-16    0.212476
2017-04-23    0.174672
2017-04-30    0.090027
2017-05-07    0.235639
2017-05-14    0.352980
2017-05-21    0.536091
2017-05-28    0.060392
2017-06-04    0.281225
2017-06-11    0.620034
2017-06-18    0.382564
2017-06-25    0.128893
2017-07-02    0.264113
2017-07-09    0.158890
2017-07-16    0.404281
2017-07-23    0.124988
2017-07-30    0.384441
2017-08-06    0.924388
2017-08-13    0.467469
2017-08-20    0.435251
2017-08-27    0.275762
2017-09-03    0.251722
2017-09-10    0.381637
2017-09-17    0.294141
2017-09-24    0.735195
2017-10-01    0.354840
2017-10-08    0.204857
2017-10-15    0.118733
2017-10-22    0.517001
2017-10-29    0.680452
2017-11-05    0.560686
2017-11-12    0.190971
2017-11-19    0.436199
2017-11-26    0.563047
2017-12-03    0.427439
2017-12-10    0.073130
2017-12-17    0.205266
2017-12-24    0.194120
2017-12-31    0.190390
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220753
2017-01-22    28.279665
2017-01-29    28.739218
2017-02-05    30.419493
2017-02-12    31.341911
2017-02-19    32.122974
2017-02-26    32.451969
2017-03-05    33.086281
2017-03-12    33.022373
2017-03-19    33.299305
2017-03-26    33.481544
2017-04-02    34.111141
2017-04-09    34.264977
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208179
2017-05-07    35.256695
2017-05-14    37.099133
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944649
2017-06-11    36.925632
2017-06-18    34.838963
2017-06-25    34.779545
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421230
2017-07-23    35.891800
2017-07-30    36.471699
2017-08-06    37.346291
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170567
2017-09-03    39.141655
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798645
2017-10-08    37.075409
2017-10-15    37.457165
2017-10-22    38.287479
2017-10-29    38.903053
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897190
2017-12-03    41.686470
2017-12-10    40.659222
2017-12-17    41.657745
2017-12-24    42.244392
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227821
2017-01-29    28.272598
2017-02-05    28.597816
2017-02-12    30.704651
2017-02-19    31.547823
2017-02-26    32.314690
2017-03-05    32.409355
2017-03-12    32.823563
2017-03-19    32.896942
2017-03-26    33.098122
2017-04-02    33.344276
2017-04-09    33.926514
2017-04-16    33.384510
2017-04-23    33.296936
2017-04-30    33.997528
2017-05-07    34.681545
2017-05-14    36.215267
2017-05-21    35.708805
2017-05-28    36.443184
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812263
2017-06-25    34.463455
2017-07-02    34.147358
2017-07-09    33.921577
2017-07-16    34.475338
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347557
2017-08-13    37.058720
2017-08-20    37.578846
2017-08-27    37.509666
2017-09-03    38.526081
2017-09-10    37.848465
2017-09-17    37.764950
2017-09-24    36.240326
2017-10-01    35.920620
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216179
2017-10-29    37.261517
2017-11-05    39.778702
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702312
2017-12-03    40.582603
2017-12-10    40.470051
2017-12-17    41.114185
2017-12-24    41.748734
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

In [ ]:
#Ejemplo
std = amd.resample('M').std()
max = amd.resample('M').max()
min = amd.resample('M').min()


print(std)
print(max)
print(min)
#Ejemplos de diferentes métodos que se le pueden aplicar a los datos

Date
2019-01-31    1.497393
2019-02-28    0.616084
2019-03-31    1.617997
2019-04-30    0.688559
2019-05-31    0.713401
2019-06-30    1.432381
2019-07-31    1.133081
2019-08-31    1.540376
2019-09-30    0.716237
2019-10-31    1.857419
2019-11-30    1.858632
2019-12-31    2.855752
Freq: M, Name: Close, dtype: float64
Date
2019-01-31    24.410000
2019-02-28    24.709999
2019-03-31    27.889999
2019-04-30    29.090000
2019-05-31    29.049999
2019-06-30    33.230000
2019-07-31    34.389999
2019-08-31    34.189999
2019-09-30    31.500000
2019-10-31    33.930000
2019-11-30    41.290001
2019-12-31    46.630001
Freq: M, Name: Close, dtype: float64
Date
2019-01-31    17.049999
2019-02-28    22.670000
2019-03-31    22.010000
2019-04-30    26.360001
2019-05-31    26.240000
2019-06-30    27.580000
2019-07-31    30.450001
2019-08-31    27.990000
2019-09-30    28.719999
2019-10-31    28.230000
2019-11-30    34.889999
2019-12-31    38.730000
Freq: M, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597816
2017-02-28    32.423561
2017-03-31    34.002254
2017-04-30    33.999889
2017-05-31    36.305332
2017-06-30    34.228172
2017-07-31    35.347557
2017-08-31    39.129719
2017-09-30    36.772392
2017-10-31    40.332241
2017-11-30    41.150097
2017-12-31    40.522736
Freq: M, Name: Close, dtype: float64

In [ ]:
#Ejemplo
last_day = amd.resample('M').agg(lambda x: x[-1])
print(last_day)
#Imprime el retorno del último dia de cada mes a stock de los datos

Date
2019-01-31    24.410000
2019-02-28    23.530001
2019-03-31    25.520000
2019-04-30    27.629999
2019-05-31    27.410000
2019-06-30    30.370001
2019-07-31    30.450001
2019-08-31    31.450001
2019-09-30    28.990000
2019-10-31    33.930000
2019-11-30    39.150002
2019-12-31    45.860001
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [ ]:
#Ejemplo
monthly_return = amd.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)
#Obtiene e imprime el retorno mensual de stock

Date
2019-01-31    0.296336
2019-02-28   -0.039984
2019-03-31    0.077703
2019-04-30    0.048179
2019-05-31    0.022380
2019-06-30    0.101160
2019-07-31   -0.024038
2019-08-31    0.053248
2019-09-30   -0.061812
2019-10-31    0.179764
2019-11-30    0.122098
2019-12-31    0.184095
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())
#Imprime algunos otros métodos que nos permite hacer la libreria

0.07992734472021279
0.10453098518885325
0.29633563177454425

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825745
2017-03-31    1.578693
2017-04-30   -0.002365
2017-05-31    2.305443
2017-06-30   -2.077160
2017-07-31    1.119385
2017-08-31    3.782162
2017-09-30   -2.357327
2017-10-31    3.559849
2017-11-30    0.817856
2017-12-31   -0.627361
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
#Ejemplo
print(last_day.diff()) #Realiza diferencias entre elementos consecutivos
print(last_day.pct_change()) #Calcula el cambio de porcentajes
#

Date
2019-01-31         NaN
2019-02-28   -0.879999
2019-03-31    1.990000
2019-04-30    2.109999
2019-05-31   -0.219999
2019-06-30    2.960001
2019-07-31    0.080000
2019-08-31    1.000000
2019-09-30   -2.460001
2019-10-31    4.940001
2019-11-30    5.220001
2019-12-31    6.709999
Freq: M, Name: Close, dtype: float64
Date
2019-01-31         NaN
2019-02-28   -0.036051
2019-03-31    0.084573
2019-04-30    0.082680
2019-05-31   -0.007962
2019-06-30    0.107990
2019-07-31    0.002634
2019-08-31    0.032841
2019-09-30   -0.078219
2019-10-31    0.170404
2019-11-30    0.153846
2019-12-31    0.171392
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0)) #Se rellenan los NaN con 0s

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna() #Elimina los valores NaN

Date
2019-02-28   -0.036051
2019-03-31    0.084573
2019-04-30    0.082680
2019-05-31   -0.007962
2019-06-30    0.107990
2019-07-31    0.002634
2019-08-31    0.032841
2019-09-30   -0.078219
2019-10-31    0.170404
2019-11-30    0.153846
2019-12-31    0.171392
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [ ]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [ ]:
#Ejemplo
import pandas as pd

random_dict = {'AMD': [143.5, 144.09, 142.73, 144.18, 143.77],'NVDA':[898.7, 911.71, 906.69, 918.59, 926.99],
        'AMZN':[155.58, 153.67, 152.36, 152.94, 153.49]} #Se crea un diccionario con los datos de 3 empresas para los estudios
data_i = pd.date_range('2019-07-03',periods = 5, freq = 'D') #Se define un Index y un rango de tiempo para los datos
dataFrm = pd.DataFrame(random_dict, index = data_i) #Se crea y define el dataframe
print(dataFrm) #Imprime el dataframe

               AMD    NVDA    AMZN
2019-07-03  143.50  898.70  155.58
2019-07-04  144.09  911.71  153.67
2019-07-05  142.73  906.69  152.36
2019-07-06  144.18  918.59  152.94
2019-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [ ]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [ ]:
#Ejemplo
dataFrm = amd_table
print(dataFrm.Close.tail(5))
print(dataFrm['Volume'].tail(5))
#Se muestra las diferentes maneras de obtener las columnas de datos

Date
2020-12-23    91.550003
2020-12-24    91.809998
2020-12-28    91.599998
2020-12-29    90.620003
2020-12-30    92.290001
Name: Close, dtype: float64
Date
2020-12-23    25993300
2020-12-24    16705900
2020-12-28    30627300
2020-12-29    31748200
2020-12-30    25845000
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [ ]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852388  22.440250  21.750952  ...  257666000        0.0             0
2016-02-29  22.450761  22.768308  22.402086  ...  140865200        0.0             0
2016-03-31  25.431520  25.473242  25.236819  ...  103553600        0.0             0
2016-04-30  21.785529  21.954734  21.442488  ...  274126000        0.0             0
2016-05-31  23.226409  23.412967  23.044516  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773054  24.986412  24.768364  ...  118649600        0.0             0
2016-09-30  26.367388  26.580747  26.212645  ...  145516400        0.0             0
2016-10-31  26.646396  26.782384  26.540888  ...  105677600        0.0             0
2016-11-30  26.300094  26.441492  25.986660  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

In [ ]:
#Ejemplo
amd_2019= dataFrm['2019']
amd_month = amd_2019.resample('M').agg(lambda x: x[-1])
print(amd_month)
#Se crea e imprime el dataframe, organizado por meses del año 2019

                 Open       High        Low      Close     Volume  Dividends  \
Date
2019-01-31  23.020000  25.139999  22.830000  24.410000  182575600          0
2019-02-28  23.209999  23.670000  23.110001  23.530001   39384900          0
2019-03-31  25.580000  25.730000  25.250000  25.520000   53502800          0
2019-04-30  27.590000  27.799999  26.940001  27.629999   73165900          0
2019-05-31  27.570000  28.360001  27.400000  27.410000   68667800          0
2019-06-30  31.080000  31.110001  30.330000  30.370001   50090900          0
2019-07-31  32.080002  32.299999  30.299999  30.450001  119190000          0
2019-08-31  31.600000  31.870001  31.129999  31.450001   40307000          0
2019-09-30  28.889999  29.049999  28.360001  28.990000   37295600          0
2019-10-31  32.980000  34.340000  32.820000  33.930000   67881600          0
2019-11-30  39.099998  39.520000  39.020000  39.150002   17609900          0
2019-12-31  45.070000  46.090000  44.919998  45.860001   31673200          0

            Stock Splits
Date
2019-01-31             0
2019-02-28             0
2019-03-31             0
2019-04-30             0
2019-05-31             0
2019-06-30             0
2019-07-31             0
2019-08-31             0
2019-09-30             0
2019-10-31             0
2019-11-30             0
2019-12-31             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

We may select certain columns of a DataFrame using their names:

In [ ]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250
2016-02-29  22.450761  22.768308  22.402086  22.411358
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [ ]:
#Ejemplo
amd_bar = amd_month[['Open']]
print(amd_bar)
#Se seleccionan columnas del dataframe, en este caso solamente 'open'

                 Open
Date
2019-01-31  23.020000
2019-02-28  23.209999
2019-03-31  25.580000
2019-04-30  27.590000
2019-05-31  27.570000
2019-06-30  31.080000
2019-07-31  32.080002
2019-08-31  31.600000
2019-09-30  28.889999
2019-10-31  32.980000
2019-11-30  39.099998
2019-12-31  45.070000

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619

In [ ]:
#Ejemplo
print(amd_month.loc['2019-03':'2019-06',['Open', 'High', 'Low', 'Close']])
#Se crea e imprime los datos entre las fechas de interés con loc

             Open       High        Low      Close
Date
2019-03-31  25.58  25.730000  25.250000  25.520000
2019-04-30  27.59  27.799999  26.940001  27.629999
2019-05-31  27.57  28.360001  27.400000  27.410000
2019-06-30  31.08  31.110001  30.330000  30.370001

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [ ]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

NameError: ignored

In [33]:
#Ejemplo
import numpy as np

above = amd_bar[amd_bar.Open > np.mean(amd_bar.Open)]
print(above)
#Imprime la línea del dataframe siempre y cuando se cumpla la condición dada

                 Open
Date
2019-06-30  31.080000
2019-07-31  32.080002
2019-08-31  31.600000
2019-10-31  32.980000
2019-11-30  39.099998
2019-12-31  45.070000

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
#Ejemplo
amd_bar['rate_return'] = amd_bar.Open.pct_change()
print(amd_bar)
#Creacion de una columna nueva en el dataframe

                 Open  rate_return
Date
2019-01-31  23.020000          NaN
2019-02-28  23.209999     0.008254
2019-03-31  25.580000     0.102111
2019-04-30  27.590000     0.078577
2019-05-31  27.570000    -0.000725
2019-06-30  31.080000     0.127312
2019-07-31  32.080002     0.032175
2019-08-31  31.600000    -0.014963
2019-09-30  28.889999    -0.085760
2019-10-31  32.980000     0.141571
2019-11-30  39.099998     0.185567
2019-12-31  45.070000     0.152685

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [35]:
#Ejemplo
missing = amd_bar.isnull() 
print(missing)
print('---------------------------------------------')
print(missing.describe())
#Se evalúan los datos del dataframe, y si este es nulo imprime true, si no es nulo imprime false

             Open  rate_return
Date
2019-01-31  False         True
2019-02-28  False        False
2019-03-31  False        False
2019-04-30  False        False
2019-05-31  False        False
2019-06-30  False        False
2019-07-31  False        False
2019-08-31  False        False
2019-09-30  False        False
2019-10-31  False        False
2019-11-30  False        False
2019-12-31  False        False
---------------------------------------------
         Open rate_return
count      12          12
unique      1           2
top     False       False
freq       12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [36]:
#Ejemplo
print(missing[missing.rate_return == True])
#Imprime la fila que tenga rate_return nulas

             Open  rate_return
Date
2019-01-31  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250     0.000000
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

In [37]:
#Ejemplo
drop = amd_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = amd_bar.fillna(0)
print(fill)
#Toma los valores que estén nulos y los transforma en 0

                 Open  rate_return
Date
2019-02-28  23.209999     0.008254
2019-03-31  25.580000     0.102111
2019-04-30  27.590000     0.078577
2019-05-31  27.570000    -0.000725
2019-06-30  31.080000     0.127312
2019-07-31  32.080002     0.032175
2019-08-31  31.600000    -0.014963
2019-09-30  28.889999    -0.085760
2019-10-31  32.980000     0.141571
2019-11-30  39.099998     0.185567
2019-12-31  45.070000     0.152685

--------------------------------------------------

                 Open  rate_return
Date
2019-01-31  23.020000     0.000000
2019-02-28  23.209999     0.008254
2019-03-31  25.580000     0.102111
2019-04-30  27.590000     0.078577
2019-05-31  27.570000    -0.000725
2019-06-30  31.080000     0.127312
2019-07-31  32.080002     0.032175
2019-08-31  31.600000    -0.014963
2019-09-30  28.889999    -0.085760
2019-10-31  32.980000     0.141571
2019-11-30  39.099998     0.185567
2019-12-31  45.070000     0.152685

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [38]:
#Ejemplo
serie1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AMD')
serie2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'AMZN')
data_frame = pd.concat([serie1,serie2], axis = 1)
print(data_frame)
#Conxatena las dos series creadas y las imprime

      AMD    AMZN
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN   3.110856
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505   3.277361
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334   3.281686
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

In [39]:
#Ejemplo
log_price = np.log(amd_bar.Open)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([amd_bar, log_price], axis = 1)
print(concat)
#Realiza la fórmula de log y la concatena con las columnas antes separadas de las estadísticas de amd

Date
2019-01-31    3.136363
2019-02-28    3.144583
2019-03-31    3.241811
2019-04-30    3.317453
2019-05-31    3.316728
2019-06-30    3.436565
2019-07-31    3.468233
2019-08-31    3.453157
2019-09-30    3.363495
2019-10-31    3.495901
2019-11-30    3.666122
2019-12-31    3.808217
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open  rate_return  log_price
Date
2019-01-31  23.020000          NaN   3.136363
2019-02-28  23.209999     0.008254   3.144583
2019-03-31  25.580000     0.102111   3.241811
2019-04-30  27.590000     0.078577   3.317453
2019-05-31  27.570000    -0.000725   3.316728
2019-06-30  31.080000     0.127312   3.436565
2019-07-31  32.080002     0.032175   3.468233
2019-08-31  31.600000    -0.014963   3.453157
2019-09-30  28.889999    -0.085760   3.363495
2019-10-31  32.980000     0.141571   3.495901
2019-11-30  39.099998     0.185567   3.666122
2019-12-31  45.070000     0.152685   3.808217

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550684  28.607243  28.425783  28.597816
2017-02-28  32.444862  32.530069  32.354920  32.423561
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [40]:
#Ejemplo
df_volume = amd_table.loc['2019-10':'2020-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2019 = amd_table.loc['2018-10':'2019-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2019)
#Union de dos dataframes por filas

               Volume  Stock Splits
Date
2019-10-31   67881600             0
2019-11-30   17609900             0
2019-12-31   31673200             0
2020-01-31   60322400             0
2020-02-29  100331800             0
2020-03-31   83483700             0
2020-04-30   65543900             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2018-10-31  17.870001  18.340000  17.120001  18.209999
2018-11-30  21.299999  21.360001  20.520000  21.299999
2018-12-31  18.150000  18.510000  17.850000  18.459999
2019-01-31  23.020000  25.139999  22.830000  24.410000
2019-02-28  23.209999  23.670000  23.110001  23.530001
2019-03-31  25.580000  25.730000  25.250000  25.520000
2019-04-30  27.590000  27.799999  26.940001  27.629999

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852388  22.440250  ...          NaN           NaN
2016-02-29  22.450761  22.768308  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785529  21.954734  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773054  24.986412  ...          NaN           NaN
2016-09-30  26.367388  26.580747  ...          NaN           NaN
2016-10-31  26.646396  26.782384  ...  105677600.0           0.0
2016-11-30  26.300094  26.441492  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [41]:

#Ejemplo
concat = pd.concat([amd_bar, df_volume], axis = 1)
print(concat)
#Impresion de la concatenacion de dos dataframes

                 Open  rate_return       Volume  Stock Splits
Date
2019-01-31  23.020000          NaN          NaN           NaN
2019-02-28  23.209999     0.008254          NaN           NaN
2019-03-31  25.580000     0.102111          NaN           NaN
2019-04-30  27.590000     0.078577          NaN           NaN
2019-05-31  27.570000    -0.000725          NaN           NaN
2019-06-30  31.080000     0.127312          NaN           NaN
2019-07-31  32.080002     0.032175          NaN           NaN
2019-08-31  31.600000    -0.014963          NaN           NaN
2019-09-30  28.889999    -0.085760          NaN           NaN
2019-10-31  32.980000     0.141571   67881600.0           0.0
2019-11-30  39.099998     0.185567   17609900.0           0.0
2019-12-31  45.070000     0.152685   31673200.0           0.0
2020-01-31        NaN          NaN   60322400.0           0.0
2020-02-29        NaN          NaN  100331800.0           0.0
2020-03-31        NaN          NaN   83483700.0           0.0
2020-04-30        NaN          NaN   65543900.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646396  26.782384  ...  105677600             0
2016-11-30  26.300094  26.441492  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [42]:
#Ejemplo
append = amd_bar.append(df_2019)
print(append)
#Se añade el otro dataframe que se había creado al que solo tiene Open y este return

                 Open  rate_return       High        Low      Close
Date
2019-01-31  23.020000          NaN        NaN        NaN        NaN
2019-02-28  23.209999     0.008254        NaN        NaN        NaN
2019-03-31  25.580000     0.102111        NaN        NaN        NaN
2019-04-30  27.590000     0.078577        NaN        NaN        NaN
2019-05-31  27.570000    -0.000725        NaN        NaN        NaN
2019-06-30  31.080000     0.127312        NaN        NaN        NaN
2019-07-31  32.080002     0.032175        NaN        NaN        NaN
2019-08-31  31.600000    -0.014963        NaN        NaN        NaN
2019-09-30  28.889999    -0.085760        NaN        NaN        NaN
2019-10-31  32.980000     0.141571        NaN        NaN        NaN
2019-11-30  39.099998     0.185567        NaN        NaN        NaN
2019-12-31  45.070000     0.152685        NaN        NaN        NaN
2018-10-31  17.870001          NaN  18.340000  17.120001  18.209999
2018-11-30  21.299999          NaN  21.360001  20.520000  21.299999
2018-12-31  18.150000          NaN  18.510000  17.850000  18.459999
2019-01-31  23.020000          NaN  25.139999  22.830000  24.410000
2019-02-28  23.209999          NaN  23.670000  23.110001  23.530001
2019-03-31  25.580000          NaN  25.730000  25.250000  25.520000
2019-04-30  27.590000          NaN  27.799999  26.940001  27.629999

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN        NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288        NaN
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210        NaN
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921        NaN
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652        NaN
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505        NaN
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334        NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782384  26.540888  26.620605          NaN  26.646396
2016-11-30        NaN  26.441492  25.986660  26.045576          NaN  26.300094
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607243  28.425783  28.597816          NaN  28.550684
2017-02-28        NaN  32.530069  32.354920  32.423561          NaN  32.444862
2017-03-31        NaN  34.146633  33.848407  34.002254          NaN  34.016455
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

In [43]:
#Ejemplo
df_2019.columns = ['Change', 'High','Low','Close']
concat = pd.concat([amd_bar, df_2019], axis = 0)
print(concat)
#Concatenacion completa de los dataframes, llenando con NaN dónde no se tienen los datos de un espacio

                 Open  rate_return     Change       High        Low      Close
Date
2019-01-31  23.020000          NaN        NaN        NaN        NaN        NaN
2019-02-28  23.209999     0.008254        NaN        NaN        NaN        NaN
2019-03-31  25.580000     0.102111        NaN        NaN        NaN        NaN
2019-04-30  27.590000     0.078577        NaN        NaN        NaN        NaN
2019-05-31  27.570000    -0.000725        NaN        NaN        NaN        NaN
2019-06-30  31.080000     0.127312        NaN        NaN        NaN        NaN
2019-07-31  32.080002     0.032175        NaN        NaN        NaN        NaN
2019-08-31  31.600000    -0.014963        NaN        NaN        NaN        NaN
2019-09-30  28.889999    -0.085760        NaN        NaN        NaN        NaN
2019-10-31  32.980000     0.141571        NaN        NaN        NaN        NaN
2019-11-30  39.099998     0.185567        NaN        NaN        NaN        NaN
2019-12-31  45.070000     0.152685        NaN        NaN        NaN        NaN
2018-10-31        NaN          NaN  17.870001  18.340000  17.120001  18.209999
2018-11-30        NaN          NaN  21.299999  21.360001  20.520000  21.299999
2018-12-31        NaN          NaN  18.150000  18.510000  17.850000  18.459999
2019-01-31        NaN          NaN  23.020000  25.139999  22.830000  24.410000
2019-02-28        NaN          NaN  23.209999  23.670000  23.110001  23.530001
2019-03-31        NaN          NaN  25.580000  25.730000  25.250000  25.520000
2019-04-30        NaN          NaN  27.590000  27.799999  26.940001  27.629999

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.